/*                   */
/*                   */
/*                   */
/*                   */
/*                   */
/* CSS do formulário */
/*                   */
/*                   */
/*                   */
/*                   */
/*                   */
body {
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

body form {
  padding: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: #172b4d;
  outline: none;
}

body label {
  background-color: #172b4d;
}

body input[type=text],
body input[type=email],
body input[type=tel],
body input[type=date],
body input[type=time],
body select {
  padding: 0 1rem;
  margin-top: 7px;
  height: 35px;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: #b9b9b9;
  outline: none;
  font-size: 17px;
}

body input:focus {
  background-color: white;
  transition: all .5s linear;
}

body input[type=file] {
  margin-top: 7px;
  display: none;
}

body #file-label {
  cursor: pointer;
  text-decoration: underline;
  color: #9abfff;
}

body #file-label::after {
  content: attr(data-file);
  margin-left: 10px;
}

body .btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

body .btn-agendar {
  height: 40px;
  width: 200px;
  border: solid 0px;
  border-radius: 10px;
  background-color: #274883;
  cursor: pointer;
  color: white;
  font-size: 17px;
}

body .btn-agendar:hover {
  background-color: #2c5db1;
}

@media (max-width: 950px) {

  button {
    overflow: hidden;
  }

  body body {
    width: 100%;
    padding: 2rem;
  }

  body form {
    width: 100vw;
    font-size: 21px;
    align-items: center;
  }

  body input[type=text],
  body input[type=email],
  body input[type=tel],
  body input[type=date],
  body input[type=time],
  body select,
  body label {
    height: 50px;
    width: 80%;
  }

  body select {
    height: 50px;
    width: 80%;
  }
}