@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

* {
  padding: 0;
  /* muda a distância entre a borda da página e o primeiro elemento */
  margin: 0;
  /* esse é igual ao de cima, só que diferente */
  font-family: 'Tilt Neon', cursive;
  /* Define a fonte padrão das páginas */
  transition: all .2s linear;
  /* Define a duração padrão das animações */
  caret-color: #0c1729;
  ;
  /* muda a cor da barrinha que fica piscando do input */
  scroll-behavior: smooth;
  /* deixa a rolagem da página mais suave */
  overflow-x: hidden;
  /* Impede que a página role para os lados */
  color: white;
}

/* Muda a cor de fundo padrão */
body {
  background-color: #d3d3d3;
}

h4 {
  font-size: 17px;
  font-weight: 300;
  color: white;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
  background-color: #d3d3d3;
}

.main h1{
  color: #0c1729;
}

.main h1::selection {
  color: #d3d3d3;
  background-color: #172b4d;
}

/* quando for chamar um elemento pela classe, usa o formato: .nome_da_classe  */
.tabela {
  padding: 2rem;
  display: flex;
  width: 50%;
  height: 100%;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.linha {
  padding: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: white;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: #172b4d;
  outline: none;
  background-color: #172b4d;
}

button {
  background: none;
  cursor: pointer;
  border: solid 0px;
  text-decoration: underline;
}

/* Configurando a taf <p> para ela ficar invisível */
p {
  display: none;
}

/* o elemento que receber a classe "mostrando" e estiver invisível, será exibida */
.mostrando {
  display: block;
}
