@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

/*                           */
/*                           */
/*                           */
/*                           */
/*                           */
/* CSS da barra de navegação */
/*                           */
/*                           */
/*                           */
/*                           */
/*                           */

header {
  margin: 0;
  width: 100vw;
  /* Define o tamanho do elemento para ocupar toda a tela no eixo X */
  height: 80px;
  /* Define a altura do elemento */
  border: solid 0px;
  /* Espessura e tipo da borda */
  border-radius: 0 5px 0 5px;
  /* Arredondamento da borda */
  /* Esses de baixo deixam os elementos alinhadinhos no eixo X */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: #1d2b4e;
  /* cor de fundo do elemento */
  color: rgb(255, 255, 255);
  /* cor do texto do elemento */
}

/* Organiza a lista de 'links' da barra de navegação */
header ul {
  width: 50%;
  height: 50%;
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  /* remove o "*" dos links */
}

header li {
  cursor: pointer;
  /* quando passa o mouse em cima, o cursor é a mãozinha com o indicador */
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #f1f1f1;
}

header li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header a {
  color: white;
  text-decoration: none;
  /* remove a barrinha de baixo dos links que vêm por padrão */
}

.navbar2 {
  height: 100vh;
  z-index: +1;
  justify-content: center;
  align-items: flex-start;
  height: 0;
  visibility: hidden;
}

.navbar2 ul {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
}

a::selection,
form label::selection {
  background-color: white;
  color: #0c1729;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 60px;
  height: 60px;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.ham {
  visibility: hidden;
  width: 0px;
}

header button {
  display: none;
}

.btn-drop {
  background: none;
  outline: none;
  border: none;
}

@media (max-width: 950px) {

  .navbar1 {
    /* padding: 2rem 0; */
    width: 100vw;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
  }

  header button {
    display: flex;
  }

  .ham {
    visibility: visible;
    width: 60px;
    overflow: hidden;
  }

  .navbar1 ul {
    display: none;
  }

  .menu-drop {
    height: 100vh;
    visibility: visible;
  }

}
