<html>
	<head>
		<title> Home pag</title>
		<link rel="stylesheet" href="static/style.css">	
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">  
		<meta name=" viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
		<header>
			<div class = "center">
				<div class = "logo"><img src="static\imagens\Brasão_UFRPE.png"/></div>
				<div class= "menu">
					<a href="https://www.ufrpe.br/br/content/unidade-acad%C3%AAmica-de-belo-jardim-da-ufrpe-%C3%A9-lan%C3%A7ada-oficialmente-nesta-segunda-0503" target="_blank">UFRPE/UABJ</a>
					<a href="https://www.ufrpe.br/br/content/naps-elabora-cartilha-sobre-preven%C3%A7%C3%A3o-ao-suic%C3%ADdio" target="_blank">NAPS</a>
					<a href="" target="_blank">Por quê o site?</a>
				</div>
			</div>
		</header>
		<section class="sobre">
			<div class = "extras">
				<div class = "logo2"><img src="static\imagens\tela.png"/></div>
				<div class ="social-media">
					<a href="mailto:timegarotesdeprograma@gmail.com" target="_blank"><i class="devicon-google-plain"></i></a>
					<a href="https://github.com/Garotes-de-Programa-UABJ" target="_blank"><i class="devicon-github-original"></i></a>
				</div>
			</div>
			<div class="center">
				<div class="texto-sobre">
					<h1>Agende já o seu horário <br/>para o  <span style="color: blue ;">psicólogo.</span></h1>
					<p> Esse é um site desenvolvido para facilitar o acesso dos alunos ao serviço de apoio psicológico oferecido pela instituição. Com um design simples e intuitivo, o site permite que os estudantes possam marcar consultas com os psicólogos da universidade de forma fácil e rápida.</p>
					<button>Cadastre-se</button>
					<button>Registre-se</button>
				</div>
			</div>
		</section>
	</body>
</html>