<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>

<body>

  <div class="main">

    <div class="esquerda">

      <div class="logo"><img src="static\imagens\Brasão_UFRPE.png" /></div>

      <h1>Agende já o seu horário para o psicólogo.</h1>
      <h4>Esse é um site desenvolvido para facilitar o acesso dos alunos ao serviço de apoio psicológico oferecido pela
        instituição. Com um design simples e intuitivo, o site permite que os estudantes possam marcar consultas com os
        psicólogos da universidade de forma fácil e rápida.</h4>

      <div class="btn-box">
        <button href="/login">Entrar</button>
        <button href="/register">Registre-se</button>
      </div>
    </div>

    <div class="direita">

      <header>
        <ul class="navbar">
          <li><a
              href="https://www.ufrpe.br/br/content/apresenta%C3%A7%C3%A3o"
              target="_blank">UFRPE</a></li>
		  <li><a
			   href="https://www.instagram.com/uabj.ufrpe/"
			   target="_blank">UABJ</a></li>
          <li><a href="https://www.ufrpe.br/br/content/naps-elabora-cartilha-sobre-preven%C3%A7%C3%A3o-ao-suic%C3%ADdio"
              target="_blank">NAPS</a></li>
          <li><a href="static\porqueosite.pdf" target="_blank">Por quê o site?</a></li>
        </ul>
      </header>

      <img src="static/imagens/Psychologist-pana.png" alt="">
      <div class="social-media">
        <a href="mailto:timegarotesdeprograma@gmail.com" target="_blank"><i class="devicon-google-plain"></i></a>
        <a href="https://github.com/Garotes-de-Programa-UABJ" target="_blank"><i
            class="devicon-github-original"></i></a>
      </div>
      <div class="extras">
      </div>
    </div>
  </div>
</body>

</html>
